
/*---- on mobile Phones ---- */

@media (max-width: 650px) {

  .main_section {
    padding: 5%;
    height: 300px;
  }

  .main_title {
    font-size: 30px;
    color: white;
    alignment: center;
  }

  .main_subtitle {
    font-size: large;
    color: white;
  }

  .title_box {
    height: auto;
    position: absolute; left: 10%; top: 100px;
  }

  .Extras {
    display: initial;
  }

  .mentions {
    display: initial;
  }
}
